
/* Login and Signin page background css */
.sp_slide,
.sp_slide2,
.sp_slide3,
.sp_slide4,
.sp_slide5 {
    min-height: 15rem;
    padding: 2%;
    margin-top: 10%;
    margin-bottom: 10%;
    animation: scroll linear infinite;
    animation-timing-function: linear;
    animation-duration: 20s;
}

.sp_slide2 {

    animation-duration: 30s;
}

.sp_slide3 {

    animation-duration: 40s;
}

.sp_slide4 {
    animation-duration: 20s;
}

.sp_slide5 {
    animation-duration: 20s;
}

.sp_slide img,
.sp_slide2 img,
.sp_slide3 img,
.sp_slide4 img,
.sp_slide5 img {
    width: 26rem;
    height: 90%;
    margin-top: 10%;
    margin-bottom: 10%;
    object-fit: contain;
    border-radius: 30px;
    transform: scale(1.3);
}

.sp_silder::after {
    content: "";
    background-color: black;
    height: 100%;
    width: 15%;
    bottom: 0;
}

.sp_bottom::after {
    content: "";
    background-color: #151515;
    box-shadow: 2px -12px 20px 10px #151515;
    height: 10%;
    width: 100%;
    position: absolute;
    top: 70%;
}

@keyframes scroll {
    0% {
        transform: translateY(-450%);
    }

    100% {
        transform: translateY(0%);
    }
}

.bily::after {
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    position: absolute;
    background: #151515;
    opacity: 0.3;
    z-index: -4;
}
.sp_list {
    flex: 1
}

.sp_map {
    flex: 2
}

.leaflet-container {
    height: 100%;
}

.sp_imgfit {
    object-fit: contain;
}



.main {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background-color: #5d5b5b; */
    overflow-y: auto;
    background-color: rgb(247, 247, 247);
    padding: 0 6% 0 6%;

}

.nav-contain {
    height: 4rem;
}

.car-sec {
    display: flex;
    justify-content: center;
    padding: 3%;
    background-color: rgb(247, 247, 247);
}


.input {
    width: 100%;
    background-color: #f5f5f5;
    color: #242424;
    padding: .15rem .5rem;
    min-height: 40px;
    border-radius: 4px;
    outline: none;
    border: none;
    line-height: 1.15;
    box-shadow: 0px 10px 20px -18px;
    margin: 0 3% 0;

}
